
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    text-align: center;
    padding: 10px;
}

nav img {
    width: 80px;
}

.container {
    margin: auto;
    margin-bottom: 10px;
  background-color: #E7DED5;
    max-width: 968px;
    height: 70vh;
    border-radius: 10px;
    overflow-y: scroll;
    width: 100%;
    padding: 20px;
   
}

.message {
    padding: 10px;
    background-color: rgb(198, 184, 184);
    border-radius: 5px;
    margin: 5px 0;
    width: 75%;
}

.right {
    clear: both;
    float: right;
    background-color: #DCF8C7;
}

.left {
    clear: both;
    float: left;
    background-color: white;
}

.send {
    max-width: 968px;
    margin: auto;
    width: 100%;



}

#form {
    display: flex;
    gap: 5px;

}

.send input {
    width: 100%;
    padding: 10px;

    outline: none;
    border: none;
    background-color: rgb(227, 224, 224);
    border-radius: 5px;
}

.send button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
   transition: 0.5s;
    border-radius: 5px;
}
.send button:hover{
    background-color: rgb(2, 81, 2);
}